html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* ensure that clicked on components scroll to TOP of viewport rather than middle */
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 4rem;
  /* text-align */
  /* padding: 2rem; */
}

.container {
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  /* width: 80%; */
  margin: 0 auto;
}

@media (min-width: 760px) {
  .container {
    max-width: 600px;
  }
}

body {
  font-family: "Fira Code", monospace;
}

/* html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} */
